# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
venv/
.venv/

# IDE
.idea/
.vscode/

# Test artifacts
allure-results/
allure-report/
artifacts/
.pytest_cache/

# Tooling
.mypy_cache/
.ruff_cache/

# Env
.env

# OS
.DS_Store
Thumbs.db
